$dark-text-color:     #2d2d2d;
$error-color:         #c1272c;
$light-text-color:    #ffffff;
$main-color:          #4ecdc4;
$outline-color:       #c6c6c6;
$warning-color:       #ffe66c;

@import "~fonts/ConquerorSans/ConquerorSans.css";
@import "~fonts/ConquerorSans/ConquerorSans-Bold.css";

div, h1, h2, span, button, ul, li {
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

@mixin label-text() {
  font-family: ConquerorSans, sans-serif;
  font-size: 21px;
}

@mixin border-radius($n) {
  -webkit-border-radius: $n;
  -moz-border-radius: $n;
  border-radius: $n;
}

@mixin label-box-shadow-trapped() {
  -webkit-box-shadow: 0 0 0 1px rgba(50,50,50,0.1);
  -moz-box-shadow: 0 0 0 1px rgba(50,50,50,0.1);
  box-shadow: 0 0 0 1px rgba(50,50,50,0.1);
}

@mixin label-box-shadow-dragged() {
  -webkit-box-shadow: 1px 1px 6px 0 rgba(90,90,90,0.2);
  -moz-box-shadow: 1px 1px 6px 0 rgba(90,90,90,0.2);
  box-shadow: 1px 1px 6px 0 rgba(90,90,90,0.2);
}

@mixin label-box-shadow-dragging() {
  -webkit-box-shadow: 2px 2px 10px 3px rgba(50,50,50,0.1);
  -moz-box-shadow: 2px 2px 10px 3px rgba(50,50,50,0.1);
  -o-box-shadow: 2px 2px 10px 3px rgba(50,50,50,0.1);
  box-shadow: 2px 2px 10px 3px rgba(50,50,50,0.1);
}


