@font-face {
	font-family: 'Conqueror';
	src: url('Conqueror.eot');
	src:
	     url('Conqueror.eot?#iefix') format('embedded-opentype'),
	     url('Conqueror.woff') format('woff'),
	     url('Conqueror.ttf') format('truetype'),
	     url('Conqueror.svg#Conqueror') format('svg');
	font-weight: normal;
	font-style: normal;
}