@font-face {
	font-family: 'ConquerorSansSemiBoldItalic';
	src: url('ConquerorSans-SemiBoldItalic.eot');
	src:
	     url('ConquerorSans-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
	     url('ConquerorSans-SemiBoldItalic.woff') format('woff'),
	     url('ConquerorSans-SemiBoldItalic.ttf') format('truetype'),
	     url('ConquerorSans-SemiBoldItalic.svg#ConquerorSansSemiBold-Italic') format('svg');
	font-weight: normal;
	font-style: normal;
}