@font-face {
	font-family: 'ConquerorSans';
	src: url('ConquerorSans.eot');
	src:
	     url('ConquerorSans.eot?#iefix') format('embedded-opentype'),
	     url('ConquerorSans.woff') format('woff'),
	     url('ConquerorSans.ttf') format('truetype'),
	     url('ConquerorSans.svg#ConquerorSans') format('svg');
	font-weight: normal;
	font-style: normal;
}