@font-face {
	font-family: 'ConquerorSansBold';
	src: url('ConquerorSans-Bold.eot');
	src:
	     url('ConquerorSans-Bold.eot?#iefix') format('embedded-opentype'),
	     url('ConquerorSans-Bold.woff') format('woff'),
	     url('ConquerorSans-Bold.ttf') format('truetype'),
	     url('ConquerorSans-Bold.svg#ConquerorSans-Bold') format('svg');
	font-weight: normal;
	font-style: normal;
}